In [1]:
import re

import numpy as np
import pandas as pd
import seaborn as sns
import csv
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nishi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
import os

#path = os.path('C:/Users/nishi/Documents/data science/SDP')
#data = pd.read_csv(path)

df = pd.read_csv('C:/Users/nishi/Documents/data science/SDP/clean_dataset.csv')
df

C:\Users\nishi\AppData\Local\Temp\ipykernel_10164\1319228764.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/nishi/Documents/data science/SDP/clean_dataset.csv')

,rotten_tomatoes_link,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,False,Sunday Mail (Australia),Fresh,3.5,2/9/2010,Whether audiences will get behind The Lightnin...
1,m/0814255,True,Arizona Republic,Fresh,3.5,2/10/2010,"Percy Jackson isn't a great movie, but it's a ..."
2,m/0814255,True,The Age (Australia),Fresh,3,2/10/2010,"Crammed with dragons, set-destroying fights an..."
3,m/0814255,False,Daily Mirror (UK),Fresh,4,2/10/2010,"This action-packed fantasy adventure, based on..."
4,m/0814255,True,Time Out,Rotten,2,2/10/2010,Chris Columbus returns to his comfort zone for...
...,...,...,...,...,...,...,...
358249,m/zulu_dawn,False,PopcornQ,Fresh,3.0,8/14/2005,NaN
358250,m/zulu_dawn,False,ColeSmithey.com,Fresh,4.0,11/1/2005,NaN
358251,m/zulu_dawn,False,Fantastica Daily,Rotten,2.0,11/2/2005,NaN
358252,m/zulu_dawn,False,"Mountain Xpress (Asheville, NC)",Fresh,3.5,3/7/2007,"Seen today, it's not only a startling indictme..."
358253,m/zulu_dawn,False,Sarasota Herald-Tribune,Rotten,3.5,2/28/2011,"A simple two-act story: Prelude to war, and th..."

In [5]:
df.drop(df[df['review_score']=="4-Mar"].index, inplace = True)
df.drop(df[df['review_score']=="4-Feb"].index, inplace = True)
df.drop(df[df['review_score']=="B+"].index, inplace = True)
df.drop(df[df['review_score']=="4-Apr"].index, inplace = True)
df.drop(df[df['review_score']=="2.5/4"].index, inplace = True)
df.drop(df[df['review_score']=="3.5/4"].index, inplace = True)
df.drop(df[df['review_score']=="B"].index, inplace = True)
df.drop(df[df['review_score']=="B-"].index, inplace = True)
df.drop(df[df['review_score']=="A-"].index, inplace = True)
df.drop(df[df['review_score']=="1.5/4"].index, inplace = True)
df.drop(df[df['review_score']=="4-Jan"].index, inplace = True)
df.drop(df[df['review_score']=="10-Sep"].index, inplace = True)
df.drop(df[df['review_score']=="A"].index, inplace = True)
df.drop(df[df['review_score']=="C-"].index, inplace = True)
df.drop(df[df['review_score']=="10-Jul"].index, inplace = True)
df.drop(df[df['review_score']=="10-Jun"].index, inplace = True)
df.drop(df[df['review_score']=="C+"].index, inplace = True)
df.drop(df[df['review_score']=="10-May"].index, inplace = True)
df.drop(df[df['review_score']=="C"].index, inplace = True)
df.drop(df[df['review_score']=="10-Mar"].index, inplace = True)
df.drop(df[df['review_score']=="10-Aug"].index, inplace = True)
df.drop(df[df['review_score']=="10-Apr"].index, inplace = True)
df.drop(df[df['review_score']=="10-Oct"].index, inplace = True)
df.drop(df[df['review_score']=="D+"].index, inplace = True)
df.drop(df[df['review_score']=="7.5/10"].index, inplace = True)
df.drop(df[df['review_score']=="53/100"].index, inplace = True)
df.drop(df[df['review_score']=="9.25/10"].index, inplace = True)
df.drop(df[df['review_score']=="D+"].index, inplace = True)
df.drop(df[df['review_score']=="F"].index, inplace = True)
df.drop(df[df['review_score']=="62/100"].index, inplace = True)
df.drop(df[df['review_score']=="4.4/10"].index, inplace = True)
df.drop(df[df['review_score']=="82/100"].index, inplace = True)
df.drop(df[df['review_score']=="0.5/4"].index, inplace = True)
df.drop(df[df['review_score']=="64/100"].index, inplace = True)
df.drop(df[df['review_score']=="86/100"].index, inplace = True)
df.drop(df[df['review_score']=="8.3/10"].index, inplace = True)
df.drop(df[df['review_score']=="9.5/10"].index, inplace = True)
df.drop(df[df['review_score']=="51/100"].index, inplace = True)
df.drop(df[df['review_score']=="44/100"].index, inplace = True)
df.drop(df[df['review_score']=="9.19/10"].index, inplace = True)
df.drop(df[df['review_score']=="59/100"].index, inplace = True)
df.drop(df[df['review_score']=="D-"].index, inplace = True)
df.drop(df[df['review_score']=="D"].index, inplace = True)
df.drop(df[df['review_score']=="0.5.5"].index, inplace = True)
df.drop(df[df['review_score']=="3.5.5"].index, inplace = True)
df.drop(df[df['review_score']=="6"].index, inplace = True)
df.drop(df[df['review_score']=="0"].index, inplace = True)
df.drop(df[df['review_score']=="9"].index, inplace = True)
df.drop(df[df['review_score']=="7"].index, inplace = True)
df.drop(df[df['review_score']=="470"].index, inplace = True)
df.drop(df[df['review_score']=="3.5"].index, inplace = True)
df.drop(df[df['review_score']=="2.75"].index, inplace = True)
df.drop(df[df['review_score']=="0"].index, inplace = True)
df.drop(df[df['review_score']=="8"].index, inplace = True)
df.drop(df[df['review_score']=="24"].index, inplace = True)
df.drop(df[df['review_score']=="6"].index, inplace = True)
df.drop(df[df['review_score']=="45"].index, inplace = True)
df.drop(df[df['review_score']=="14"].index, inplace = True)
df.drop(df[df['review_score']=="9"].index, inplace = True)
df.drop(df[df['review_score']=="6-Apr"].index, inplace = True)

In [8]:
df = df.dropna(axis=0)

In [9]:
convert_dict = {'review_score': float
               }
  
df = df.astype(convert_dict)

In [10]:
convert_dict = {'review_score': int
               }
  
df = df.astype(convert_dict)

In [11]:
df.isnull().sum()

rotten_tomatoes_link    0
top_critic              0
publisher_name          0
review_type             0
review_score            0
review_date             0
review_content          0
dtype: int64

In [12]:
temp = df['review_score'].value_counts()
with pd.option_context('display.max_rows',None):
    print(temp)

3     85986
4     85912
2     70854
1     24999
5     20769
0      1732
9         1
8         1
6         1
45        1
Name: review_score, dtype: int64

In [13]:
df.drop(df[df['review_score']==0].index,axis=0, inplace = True)
df.drop(df[df['review_score']==9].index,axis=0, inplace = True)
df.drop(df[df['review_score']==8].index,axis=0, inplace = True)
df.drop(df[df['review_score']==45].index,axis=0, inplace = True)
df.drop(df[df['review_score']==6].index,axis=0, inplace = True)

In [14]:
temp_2 = df['review_score'].value_counts()
with pd.option_context('display.max_rows',None):
    print(temp_2)

3    85986
4    85912
2    70854
1    24999
5    20769
Name: review_score, dtype: int64

In [15]:
df['review_score'].unique()

array([3, 4, 2, 1, 5])

In [17]:
#METHOD FOR CLEANING THE REVIEW CONTENT
def text_clean(message):
  '''
  message = "#'This', is $string #with punction, <br /> @'html_tag' and actual message also!"

  return 'string punction html_tag actual message also'
  '''

  html_tag = '<br />'
  message = message.replace(html_tag,'')  # remove html tag
  message = re.sub(r'[^\w\s]', '', message)   # remove punctiation
  message = message.lower()
  message = [word for word in message.split() if word not in stopwords.words('english')]
  message = ' '.join(message)

  return message

In [18]:
test_str = "#'This', is $string #with punction, <br /> @'html_tag' and actual message also!"
text_clean(test_str)

'string punction html_tag actual message also'

In [19]:
df['review_content'] = df['review_content'].apply(text_clean)

In [20]:
df['review_content'].head()

2    crammed dragons setdestroying fights things ex...
3    actionpacked fantasy adventure based rick rior...
4    chris columbus returns comfort zone mirthless ...
5    best thing say chris columbuss adaptation hes ...
7    although standard allegorical bases mythicalqu...
Name: review_content, dtype: object

In [21]:
#TFIDF AND LINEAR SVM
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report

In [23]:
tfidf = TfidfVectorizer(max_features = 10000,ngram_range = (1,5),analyzer='char')

In [24]:
X = tfidf.fit_transform(df['review_content'])
Y = df['review_score']

In [25]:
X.shape,Y.shape

((288520, 10000), (288520,))

In [26]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 42)

In [27]:
X_train.shape

(201964, 10000)

In [28]:
clf = LinearSVC(C = 20,class_weight = 'balanced',dual = False)
clf.fit(X_train,Y_train)

LinearSVC(C=20, class_weight='balanced', dual=False)

In [29]:
y_pred = clf.predict(X_test)

In [30]:
print(classification_report(Y_test,y_pred,zero_division = 1))

              precision    recall  f1-score   support

           1       0.29      0.44      0.35      7488
           2       0.48      0.47      0.48     21280
           3       0.50      0.39      0.44     25794
           4       0.52      0.48      0.50     25731
           5       0.25      0.41      0.31      6263

    accuracy                           0.44     86556
   macro avg       0.41      0.44      0.41     86556
weighted avg       0.46      0.44      0.45     86556