In [1]:
from sklearn.datasets import load_iris   #loading the library with sample datasets

from sklearn.ensemble import RandomForestClassifier

import pandas as pd

import numpy as np

np.random.seed(0)
#setting random seed

In [5]:
iris = load_iris()    #creating an object called iris
#print(iris)
df = pd.DataFrame(iris.data,columns=iris.feature_names)    #create a dataframe with four feature variables

   #print top 5 rows

df['species'] = pd.Categorical.from_codes(iris.target,iris.target_names)   #adding new column for species name

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [6]:
#create a test and train data
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,True

In [7]:
#creating dataframes with test rows and train rows

train, test = df[df['is_train']==True],df[df['is_train']==False]

print("No of observatio in train::",len(train))

print("No of observations in test::",len(test))

No of observatio in train:: 118
No of observations in test:: 32

In [9]:
#create a list of feature column's names
features = df.columns[:4]

print(features)

#converting species in 0's and 1's 
y = pd.factorize(train['species'])[0]
print(y)

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2]

In [10]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)   #creating an instance of model

clf.fit(train[features],y)  #training the model with features and labels

RandomForestClassifier(n_jobs=2, random_state=0)

In [11]:
#applying the test features for the model to predict

clf.predict(test[features])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [12]:
#viewing the predicted probability of first 10 test features

clf.predict_proba(test[features])[0:10]

array([[1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ],
       [0.95, 0.05, 0.  ],
       [1.  , 0.  , 0.  ],
       [0.99, 0.01, 0.  ],
       [1.  , 0.  , 0.  ],
       [1.  , 0.  , 0.  ]])

In [14]:
#mapping names for the plants for each predicted plant class

preds = iris.target_names[clf.predict(test[features])]

print(preds[0:25])

['setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'versicolor' 'versicolor'
 'versicolor' 'virginica' 'virginica' 'versicolor' 'versicolor'
 'virginica' 'virginica' 'virginica' 'virginica' 'virginica']

In [15]:
#now viewing and comparing species with the above obtained results

test['species'].head()

7     setosa
8     setosa
10    setosa
13    setosa
17    setosa
Name: species, dtype: category
Categories (3, object): ['setosa', 'versicolor', 'virginica']

In [16]:
#creating a confusion matrix
pd.crosstab(test['species'],preds,rownames=['Actual Species'], colnames=['Predicted Species'])

Predicted Species  setosa  versicolor  virginica
Actual Species
setosa                 13           0          0
versicolor              0           5          2
virginica               0           0         12

In [ ]:
#ACCURACY SCORE